<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta author="dbvc">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.url}}/static/css/styles.css">
  <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-S4G6FGF299"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-S4G6FGF299');
	</script>
</head>
<body>
  <nav class="header-nav"><h2><a href="/">Just Sicp</a></h2></nav>
  <header><h1>SICP Practice</h1></header>
  <main>
  	{{content}}
  </main>
	<footer>
		<h2><center title="ys love vc">Made by dbvc</center></h2>
	</footer>
</body>
</html>
